# ===== LLM =====
# Required for real agent reasoning
DASHSCOPE_API_KEY= sk-8382cc2749124cf984b1d75356aa0e5c
# Optional, default qwen3-max
DASHSCOPE_MODEL=qwen3-max

# ===== Nacos / A2A =====
# For your VM deployment
NACOS_SERVER_ADDR=192.168.32.129:8848
# Enable remote agent registration/discovery
A2A_SERVER_ENABLED=true

# ===== Route / Map =====
# Optional if using MCP route tools
BAIDU_MCP_SSE_URL= https://mcp.map.baidu.com/sse?ak=GmszqZ2j3LHjkTqNuI6sxcGSkkhIM0IR

# ===== Optional runtime profile =====
SPRING_PROFILES_ACTIVE=prod
# 阿里大模型sk-8382cc2749124cf984b1d75356aa0e5c  百度的：https://mcp.map.baidu.com/sse?ak=GmszqZ2j3LHjkTqNuI6sxcGSkkhIM0IR
